.stroke-line {
    border-top: 1px solid #ddd;
}

.outline-none {
    outline: none;
}

.outline-none:hover {
    outline: none;
}

.p-logo {
    padding: 1em 3em !important;
}

.resolution-12 {
    width: 12px !important;
    height: 12px !important;
}

.background-white-50 {
    background-color: #f8f8f8;
}

.background-white {
    background-color: #fff;
}

.border-none {
    border: none;
}

.b-1-dark {
    border: 1px solid #ddd;
}

.border-radius-50 {
    border-radius: 30px;
    background: #5290e2 !important;
}

.border-radius-10 {
    border-radius: 10px;
    border: none;
}

.border-radius-20 {
    border-radius: 20px;
    border: none;
}

.border-radius-30 {
    border-radius: 30px;
    border: none;
}

.error_msg {
    color: red;
    font-size: 20px;
    padding: 20px 0px;
}


/* Side Bar */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0px;
    background-color: #eee;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

@media (min-width: 400px) {
    .sidenav {
        left: calc(50% - 200px);
    }
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: black;
    font-weight: bold;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    height: 33px;
    margin-top: 20px;
    line-height: 0.5;
}

.sidenav .menutitle {
    position: absolute;
    width: 100%;
    text-align: center;
    font-weight: bold;
    top: 25px;
    font-size: 20px;
}

.sidenav a span {
    vertical-align: text-top;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}


/* End Side Bar */

.back-white {
    background-color: white;
}

.color-sky {
    color: #5290e9;
}

.font60 {
    font-size: 0.6em !important;
}

.font70 {
    font-size: 0.7em !important;
}

.font80 {
    font-size: 0.8em !important;
}

.font100 {
    font-size: 1em !important;
}

.font120 {
    font-size: 1.2em !important;
}

.font140 {
    font-size: 1.4em !important;
}

.font160 {
    font-size: 1.6em !important;
}

.font200 {
    font-size: 2em !important;
}

.minwidth50 {
    min-width: 50px !important;
}

.maintitle {
    position: absolute;
    left: 50px;
    width: calc(100% - 100px);
    top: 15px;
    margin: 0 !important;
    font-size: 15px;
}

.maintitlecustomer {
    position: absolute;
    left: 50px;
    width: calc(100% - 120px);
    top: 15px;
    margin: 0 !important;
    font-size: 15px;
}

@media (min-width: 400px) {
    .maintitle {
        font-size: 20px;
    }
}

.subtitle {
    font-size: 15px !important;
}

.normalfont {
    font-size: 12px !important;
}

.customInputWidth {
    width: calc(100% - 30px);
}

.calendar-day {
    cursor: pointer;
}

.time-cell {
    border: 1px solid black;
    cursor: pointer;
}

.time-cell-selected {
    border: 1px solid #5290e9;
    color: red;
    cursor: pointer;
}

.timetype-cell {
    border: 1px solid black;
    cursor: pointer;
}

.timetype-selected {
    border: 1px solid #5290e9;
    color: red;
    cursor: pointer;
}

.minute-cell {
    border: 1px solid black;
    cursor: pointer;
}

.minute-selected {
    border: 1px solid #5290e9;
    color: red;
    cursor: pointer;
}

.selectable-button-selected {
    background-color: #5290e9 !important;
    border: #5290e9 1px solid;
    border-radius: 40px;
    outline: none;
    cursor: pointer;
}

.ride-button {
    background-color: white;
    border: #5290e9 1px solid;
    border-radius: 40px;
    outline: none;
    cursor: pointer;
}

.ride-selected {
    background-color: #5290e9 !important;
    border: #5290e9 1px solid;
    border-radius: 40px;
    outline: none;
    cursor: pointer;
}

.src-address {
    background-color: white;
    border: #5290e9 1px solid;
    border-radius: 40px;
    outline: none;
    cursor: pointer;
}

.src-address-selected {
    background-color: #5290e9 !important;
    border: #5290e9 1px solid;
    border-radius: 40px;
    outline: none;
    cursor: pointer;
}

.dst-address {
    background-color: white;
    border: #5290e9 1px solid;
    border-radius: 40px;
    outline: none;
    cursor: pointer;
}

.dst-address-selected {
    background-color: #5290e9 !important;
    border: #5290e9 1px solid;
    border-radius: 40px;
    outline: none;
    cursor: pointer;
}

.vehicle-cell {
    color: #5290e2;
    background-color: white;
    border: 1px solid #5290e2;
    padding: 5px;
    font-size: 0.8em;
    cursor: pointer;
}

.vehicle-selected {
    color: white !important;
    background: #5290e2 !important;
    cursor: pointer;
}

.dateInput-selected {
    padding: 2px;
    background-color: #5290e2;
}


/* Settings Panel */

.settings-panel {
    margin: 40px 10px;
    padding: 40px 20px;
    background-color: white;
    border-radius: 20px;
}

.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}

.innerSidenav {
    width: 100vw;
}

@media (min-width: 400px) {
    .innerSidenav {
        width: 400px;
    }
}

.color-red {
    color: red;
}

.color-blue {
    color: blue;
}

.color-white {
    color: white;
}

.color-gray {
    color: rgb(200, 200, 200);
}

.back-sky {
    background-color: #5290e9;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 0.5;
    /* Firefox */
}

.calendar-day-selected {
    background-color: #5290e9 !important;
    color: white !important;
}

#myModal {
    max-width: 400px;
    width: 100vw;
    margin: auto;
    height: 100vh;
}

.customer-field {
    cursor: pointer;
    background-color: white;
    padding: 2px 10px;
}

.customer-field:hover {
    background-color: #5290e9;
}

#VariationAlert {
    padding: 5px 15px !important;
    margin: 0px !important;
    color: red !important;
    display: none;
}

.autocomplete-items {
    margin: 0px 15px;
}
